nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  padding-bottom: 0px;
  position: sticky;
  top: 0px;
  color: #ffffff;
  z-index: 1000;
}

button {
  cursor: pointer;
}

/* @media (prefers-reduced-motion: no-preference) {
  .ship {
    animation: Ship-logo-forward infinite 5s linear;
    animation: Ship-logo-back infinite 5s linear;
  }
}

@keyframes Ship-logo-forward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-10deg);
  }
} */
