nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  padding-bottom: 0px;
  position: sticky;
  top: 0px;
  color: #ffffff;
  z-index: 1000;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
