nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  padding-top: 10px;
  padding-bottom: 5px;
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  z-index: 1000;
}

button {
  cursor: pointer;
}

.header {
  background-color: #ffffff;
}

.ship-card {
  display: flex;
  padding: 10px;
  max-width: 100%;
}

.ship-button {
  position: sticky;
  top: 60px;
}

.name-btn {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  height: max-content;
}

.name-btn h2 {
  margin: 1px;
}

.ship-comment-btn {
  padding-right: 5px;
  max-width: 100%;
}

.comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
